<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Tìm Trọ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Tìm Trọ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/><br/>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                <span th:text="${successMessage}"></span>
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Login Form</h2>
                </div>
                <div class="card-body">
                    <form
                            method="POST"
                            th:action="@{/api/users/register}"
                            class="form-horizontal"
                    >
                        <div class="form-group mb-3">
                            <label class="control-label">Họ và Tên</label>
                            <input
                                    type="text"
                                    id="fullName"
                                    name="fullName"
                                    class="form-control"
                                    placeholder="Nhập Họ và Tên"
                                    required
                            />


                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Số Điện Thoại</label>
                            <input
                                    type="text"
                                    id="phoneNumber"
                                    name="phoneNumber"
                                    class="form-control"
                                    placeholder="Nhập Số Điện Thoại"
                                    required
                            />


                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Email</label>
                            <input
                                    type="email"
                                    id="email"
                                    name="email"
                                    class="form-control"
                                    placeholder="Nhập Email"
                                    required
                            />


                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Tên Đăng Nhập</label>
                            <input
                                    type="text"
                                    id="userName"
                                    name="userName"
                                    class="form-control"
                                    placeholder="Nhập Tên Đăng Nhập"
                                    required
                            />


                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Mật Khẩu</label>
                            <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    class="form-control"
                                    placeholder="Nhập Mật Khẩu"
                                    required
                            />


                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Nhập Lại Mật Khẩu</label>
                            <input
                                    type="password"
                                    id="retypePassword"
                                    name="retypePassword"
                                    class="form-control"
                                    placeholder="Nhập Lại Mật Khẩu"
                                    required
                            />


                        </div>

                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <span>Đã Có Tài Khoản?
                      <a th:href="@{/login}">Đăng Nhập Tại Đây</a>
                  </span>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>